<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Películas</title>
  <style>
    #movie {
      float: left;
      width: 300px;
      height: 180px;
      margin: 10px;
      border-radius: 7px;
      box-shadow: 0 0 5px grey;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>
<body>
  {% if movies %}
    {% for movie in movies %}
      {% set img = movie.get('backdrop_path') or movie.get('poster_path') %}
      <div id="movie"
           style="background-image: url(https://image.tmdb.org/t/p/w500{{ img }});">
        <div style="background: rgba(0,0,0,0.5); color:#fff; padding:6px;">
          {{ movie.get('title') or movie.get('name') }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No se recibieron resultados de TMDB.</p>
  {% endif %}
</body>
</html>
